.App-header {
  background-color: #222;
  display: flex;
  flex-direction: column;
  height: 10vh;
}

.App {
  background-color: #444;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 90vh;
}

.boards-container {
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  width: 100vw;
}

.App-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.App-header li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
