.App {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
}

.App-content {
  display: flex;
  flex-direction: column;
}

