
.tic-tac-toe-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tic-tac-toe-row {
  display: flex;
  flex-direction: row;
}

.tic-tac-toe-cell {
  display: flex;
  border: 2px grey solid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
