
.selection-grid {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.selection-row {
  display: flex;
  flex-direction: row;
}

.selection-cell {
  display: flex;
  border: 2px #777 solid;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.selection-cell:hover {
  background-color: #555;
  cursor: pointer;
}
.selection-cell:hover:not([disabled]) {
  background-color: yellow;
}

